.Container {
  width: 100%;
  display: flex;
  flex-flow: column;
  justify-content: flex-start;
  align-items: center;
  margin: 0.5rem 0;
  .Label {
    text-align: start;
    width: 100%;
  }
  .Input {
    box-sizing: border-box;
    width: 100%;
  }
  .TextArea {
    font-family: inherit;
    min-height: 3rem;
  }
}
